# A .gitignore for Keil projects.
# Taken mostly from http://www.keil.com/support/man/docs/uv4/uv4_b_filetypes.htm

# User-specific uVision files
*.opt
*.uvopt
*.uvoptx
*.uvgui
*.uvgui.*
*.uvguix.*

# Listing files
*.cod
*.htm
*.i
*.lst
*.map
*.m51
*.m66
# define exception below if needed
*.scr

# Object and HEX files
*.axf
*.b[0-3][0-9]
*.hex
*.d
*.crf
*.elf
*.hex
*.h86
*.lib
*.obj
*.o
*.sbr

# Build files
# define exception below if needed
*.bat
*._ia
*.__i
*._ii

# Generated output files
/Listings/*
/Objects/*

# Debugger files
# define exception below if needed
*.ini

# Other files
*.build_log.htm
*.cdb
*.dep
*.ic
*.lin
*.lnp
*.orc
# define exception below if needed
*.pack
# define exception below if needed
*.pdsc
*.plg
# define exception below if needed
*.sct
*.sfd
*.sfr

# Miscellaneous
*.tra
*.bin
*.fed
*.l1p
*.l2p
*.iex

# To explicitly override the above, define any exceptions here; e.g.:
# !my_customized_scatter_file.sct
.idea
.vscode/c_cpp_properties.json
.vscode/keil-assistant.log
.vscode/settings.json
.vscode/uv4.log
.vscode/uv4.log.lock
RTE/CMSIS/RTX_Config.c.update@5.1.1
RTE/CMSIS/RTX_Config.h.update@5.5.2
RTE/Compiler/EventRecorderConf.h.update@1.1.0
RTE/Device/STM32F746NGHx/RTE_Device.h.update@1.5.1
RTE/Device/STM32F746NGHx/startup_stm32f746xx.s.update@1.2.2
RTE/Device/STM32F746NGHx/stm32f7xx_hal_conf.h.update@1.2.7
RTE/Device/STM32F746NGHx/system_stm32f7xx.c.update@1.2.2
RTE/Hesso_pack/ext_buttons.c.base@1.0.0
RTE/Hesso_pack/ext_buttons.h.base@1.0.0
RTE/Hesso_pack/ext_keyboard.c.update@1.1.1
RTE/Hesso_pack/ext_keyboard.h.update@1.1.1
RTE/Hesso_pack/ext_led.c.base@1.0.0
RTE/Hesso_pack/ext_led.h.base@1.0.0
RTE/Hesso_pack/ext_uart.c.base@1.0.0
RTE/Hesso_pack/ext_uart.h.base@1.0.0
RTE/uGFX_library/gfxconf.h.update@2.0.0
